<!--新保险入口页面-->
<div data-role="page" id="insurance_compulsory_set_page" data-theme="a" style="padding-top: 44px; padding-bottom: 0px;">
    <div data-role="header" class="cm-fixed" data-theme="g">
        <a class="ui-btn-left ui-btn ui-icon-md-chevron-left ui-btn-icon-notext" href="#"></a>
        <h1>保险巨惠-老驾套餐</h1>
        <a class="ui-btn-right ui-btn ui-icon-md-menu ui-btn-icon-notext" href="#menu"><i class="icon-reorder"></i></a>
    </div>
    <div role="main" class="ui-content">
        <div class="discount-detail"></div>
    </div>
    <div data-role="footer" class="cm-fixed" style="background-color: rgba(0,0,0,0.2)">
        <a class="apply-actual-btn" data-theme="g" style="padding:0.7em 0.5%;width: 99%;color:white;">我要投保</a>
    </div>
</div>