.ui-btn {
    font-size: 16px;
    margin: .5em 0;
    padding: .7em 1em;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-corner-all {
    border-radius: 0.2em;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.color-white {
    color: white;
}