<!--新保险申请精算页面-->
<div data-role="page" id="insurance_apply_actual_page" data-theme="a" style="padding-top: 44px; padding-bottom: 44px;">
    <div data-role="header" class="cm-fixed" data-theme="g">
        <a class="ui-btn-left ui-btn ui-icon-md-chevron-left ui-btn-icon-notext" href="#"></a>
        <h1>申请精算</h1>
        <a class="ui-btn-right ui-btn ui-icon-md-menu ui-btn-icon-notext" href="#menu"><i class="icon-reorder"></i></a>
    </div>
    <div role="main" class="ui-content">
        <div class="fb_box">
            <div class="fb_box_bt">联系电话:
                <input name="phone" type="text" class="fb_box_input" style="width: 60%; float: right" />
            </div>
            <div class="fb_box_bt">微信号(选填):
                <input name="weixin" type="text" class="fb_box_input" style="width: 60%; float: right" />
            </div>
        </div>
        <div class="manual-form">
            <div class="fb_box">
                <div class="fb_box_bt">车牌号:
                    <input name="hphm" type="text" class="fb_box_input" style="width: 60%; float: right"/>
                </div>
                <div class="fb_box_bt">车辆品牌型号:
                    <input name="auto_name" type="text" class="fb_box_input" style="width: 60%; float: right"/>
                </div>
                <div class="fb_box_bt" style="text-align:right">
                    <input name="no_hphm" type="checkbox" /><span>还未获取牌照</span>
                </div>
                <div class="fb_box_bt">车架号:<input name="frame_number" type="text" class="fb_box_input" style="width: 60%; float: right"/>
                </div>
                <div class="fb_box_bt">发动机号:
                    <input name="engine_number" type="text" class="fb_box_input" style="width: 60%; float: right"/>
                </div>
                <div class="fb_box_bt">车主姓名:
                    <input name="user_name" type="text" class="fb_box_input" style="width: 60%; float: right"/>
                </div>
                <div class="fb_box_bt">身份证号:
                    <input name="sfzh" type="text" class="fb_box_input" style="width: 60%; float: right"/>
                </div>
                <div class="fb_box_bt">
                    <table style="width:100%">
                        <tr>
                            <td style="width:115px">注册日期:</td>
                            <td>
                                <select name="first_year" type="text" class="fb_box_input2" style="width:45%; text-align: center; float:none"></select>
                                <select name="first_month" type="text" class="fb_box_input2" style="width:45%; text-align: center; float:none"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:115px">保险生效日期<br/>(针对新车):</td>
                            <td>
                                <select name="insurance_year" type="text" class="fb_box_input2" style="width:45%; text-align: center; float:none">
                                    <option value=""></option>
                                </select>
                                <select name="insurance_month" type="text" class="fb_box_input2" style="width:45%; text-align: center; float:none">
                                    <option value=""></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="to-file" data-theme="f" style="width:30%; float: right">上传资料更方便&gt&gt&gt</button>
            </div>
        </div>
        <div class="file-form" style="display:none">
            <div class="fb_box">
                <div class="fb_box_bt">行车证正面
                    <input class="upload-license-a-btn bx_fb_box_button no-enhance" type="button"  value="上传照片"/>
                    <input name="driving_license_a" type="hidden"/>
                    <input class="driving-license-a-file" type="file" style="display:none"/>
                </div>
                <div class="fb_box_bt" style="text-align:center">
                    <canvas class="thumbnail thumbnail-license-a" width="640" height="480" style="width:100px; height:100px"></canvas>
                    <img class="thumbnail thumbnail-license-a" data-rel="canvas.thumbnail-license-a" src="" style="display:none" />
                </div>
                <div class="fb_box_bt">行车证反面
                    <input class="upload-license-b-btn bx_fb_box_button no-enhance" type="button"  value="上传照片"/>
                    <input name="driving_license_b" type="hidden"/>
                    <input class="driving-license-b-file" type="file" style="display:none"/>
                </div>
                <div class="fb_box_bt" style="text-align:center">
                    <canvas class="thumbnail thumbnail-license-b" width="640" height="480" style="width:100px; height:100px"></canvas>
                    <img class="thumbnail thumbnail-license-b" data-rel="canvas.thumbnail-license-b" src="" style="display:none" />
                </div>
                <div class="fb_box_bt">身份证正面
                    <input class="upload-idcard-btn bx_fb_box_button no-enhance" type="button" value="上传照片"/>
                    <input name="idcard" type="hidden"/>
                    <input class="idcard-file" type="file" style="display:none"/>

                </div>
                <div class="fb_box_bt" style="text-align:center">
                    <canvas class="thumbnail thumbnail-idcard" width="640" height="480" style="width:100px; height:100px"></canvas>
                    <img class="thumbnail thumbnail-idcard" data-rel="canvas.thumbnail-idcard" src="" style="display:none" />
                </div>
                <div class="fb_box_bt">
                    <table style="width:100%">
                        <tr>
                            <td style="width:115px">保险生效日期<br/>(针对新车):</td>
                            <td>
                                <select name="insurance_year" type="text" class="fb_box_input2" style="width:45%; text-align: center; float:none">
                                    <option value=""></option>
                                </select>
                                <select name="insurance_month" type="text" class="fb_box_input2" style="width:45%; text-align: center; float:none">
                                    <option value=""></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <button class="to-manual" data-theme="f" style="width:30%; float: left">&lt&lt&lt没有资料照片</button>
            </div>
        </div>
    </div>
    <div data-role="popup" id="insurance_attach_preview_popup" data-overlay-theme="g" data-theme="a" data-corners="true" data-enhance="false">
        <a href="#" data-rel="back" data-theme="j" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right" style="background-color: #333; color: #FFF; border-color:#666; border-radius: 25em; position: absolute; right: -12px; top:-12px;"></a>
        <div class="container" style="padding:5px 10px;">
            <img id="insurance_attach_preview_img" src="" style="width:320px" />
        </div>
    </div>
    <div data-role="footer" class="cm-fixed" style="background-color: rgba(0,0,0,0.2)">
        <a class="apply-actual-btn" data-theme="g" style="padding:0.7em 0.5%;width: 99%;color:white;">申请精算</a>
    </div>
</div>