<!--新保精算结果比价页面-->
<div data-role="page" id="insurance_final_parity_price_page" data-theme="a" style="padding-top: 44px; padding-bottom: 44px;">
    <div data-role="header" class="cm-fixed" data-theme="g">
        <a class="ui-btn-left ui-btn ui-icon-md-chevron-left ui-btn-icon-notext" href="#"></a>
        <h1>保险巨惠-精算结果比价</h1>
        <a class="ui-btn-right ui-btn ui-icon-md-menu ui-btn-icon-notext" href="#menu"><i class="icon-reorder"></i></a>
    </div>
    <div role="main" class="ui-content">
        <div id="insurance_final_parity_price_chart_container" style="margin: auto; width:320px; height: 300px"></div>
        <div class="result-detail"></div>
    </div>
    <div data-role="footer" class="cm-fixed" style="background-color: rgba(0,0,0,0.2)">
        <button class="apply-policy-btn" data-theme="f" style="padding:0.7em 0.5%;width: 99%;color:white;">我要下单</button>
    </div>
</div>