<!--新保险入口页面-->
<div data-role="page" id="insurance_page" data-theme="a" style="padding-top: 44px; padding-bottom: 0px;">
    <div data-role="header" class="cm-fixed" data-theme="g">
        <a class="ui-btn-left ui-btn ui-icon-md-chevron-left ui-btn-icon-notext" href="#"></a>
        <h1>本地惠-保险巨惠</h1>
        <a class="ui-btn-right ui-btn ui-icon-md-menu ui-btn-icon-notext" href="#menu"><i class="icon-reorder"></i></a>
    </div>
    <div role="main" class="ui-content">
        <div style=" float:left;width:100%"><img src="/assets/img/insurance/ad1.jpg" width="100%"  style="min-width:320px;" /></div>
        <div style="text-align:right; position: relative; width:96%; padding:0px 2%;">
            <a href="#insurances" class="fb_button3 cm-btn cm-radius-s cm-right" data-role="button" data-theme="g">我的订单</a>
            <!--<input name="Button1" type="button" value=""  class="fb_button3"/>-->
        </div>
        <div class="hjb_box" style="width:100%">
            <div  class="hjb_box_bja">经济套餐</div>
            <div  class="hjb_box_txt1">
                交强+三者+不计免赔<br/>老驾自由组合套餐——不含车损险</div>
            <div  class="hjb_box_txt2">最优惠：华泰财险、中华财险，7折出单，再送保费总额33%本元卡</div>
            <div class="fb_button2" style="width: 98%; padding: 0px 1%;">
                <a href="#insurance/set/value">
                    <button class="fb_box_button7" data-theme="g">点此去比价</button>
                </a>
            </div>
        </div>
        <div class="hjb_box" style="width:100%">
            <div class="hjb_box_bjb">全险</div>
            <div class="hjb_box_txt1">高保障自由组合套餐——含车损险</div>
            <div class="hjb_box_txt2">最优惠：中华财险，7折出单，再送保费总额30%本元卡</div>
            <div class="fb_button2" style="width: 98%; padding: 0px 1%;">
                <a href="#insurance/set/full">
                    <button class="fb_box_button7" data-theme="g">点此去比价</button>
                </a>
            </div>
        </div>
        <div class="zf_box_div_yf" style="width:100%">常见问题：<br/>
            <ul>
                <li>怎样选择保险组合<b>？</b></li>
                <li>出险后怎么办span<b>？</b></li>
                <li>售后服务<b>i</b></li>
                <li>咨询电话和微信号<b>i</b></li>
            </ul>
        </div>
    </div>
</div>