<!--保险保单列表页面-->
<div data-role="page" id="insurance_list_page" data-theme="a" style="padding-top: 95px;">
    <div data-role="header" class="cm-fixed" data-theme="g" style="padding-bottom: 0px;">
        <a class="ui-btn-left ui-btn ui-icon-md-chevron-left ui-btn-icon-notext" href="#"></a>
        <h1>本地惠-保险订单</h1>
        <a class="ui-btn-right ui-btn ui-icon-md-menu ui-btn-icon-notext" href="#menu"><i class="icon-reorder"></i></a>
        <div id="insurance_navbar" data-role="navbar" class="" cellpadding="0" cellspacing="8">
            <ul>
                <li><a data-tap-index="1" href="#insurance/list/1">已自算</a></li>
                <li><a data-tap-index="2" href="#insurance/list/2">待精算</a></li>
                <li><a data-tap-index="3" href="#insurance/list/3">已精算</a></li>
                <li><a data-tap-index="4" href="#insurance/list/4">已下单</a></li>
                <li><a data-tap-index="5" href="#insurance/list/5">已出单</a></li>
            </ul>
        </div>
    </div>
    <div role="main" class="ui-content">
        <table id="insurance_list_view_1" class="list_cd_box_div2" cellpadding="0" cellspacing="0">
            <tr>
                <td class="item-container">

                </td>
            </tr>
            <tr><td><div class="pager ui-btn ui-btn-a" style="display:none"><span>加载更多</span></div></td></tr>
        </table>
        <table id="insurance_list_view_2" class="list_cd_box_div2" cellpadding="0" cellspacing="0">
            <tr>
                <td class="item-container">

                </td>
            </tr>
            <tr><td><div class="pager ui-btn ui-btn-a" style="display:none"><span>加载更多</span></div></td></tr>
        </table>
        <table id="insurance_list_view_3" class="list_cd_box_div2" cellpadding="0" cellspacing="0">
            <tr>
                <td class="item-container">

                </td>
            </tr>
            <tr><td><div class="pager ui-btn ui-btn-a" style="display:none"><span>加载更多</span></div></td></tr>
        </table>
        <table id="insurance_list_view_4" class="list_cd_box_div2" cellpadding="0" cellspacing="0">
            <tr>
                <td class="item-container">

                </td>
            </tr>
            <tr><td><div class="pager ui-btn ui-btn-a" style="display:none"><span>加载更多</span></div></td></tr>
        </table>
        <table id="insurance_list_view_5" class="list_cd_box_div2" cellpadding="0" cellspacing="0">
            <tr>
                <td class="item-container">

                </td>
            </tr>
            <tr><td><div class="pager ui-btn ui-btn-a" style="display:none"><span>加载更多</span></div></td></tr>
        </table>
    </div>
</div>