<%
    var photo_src = '';
    if(!photo){
        photo_src = '/assets/img/DefaultFace.png';
    }else{
        photo_src = 'data:image/png;base64,' + photo;
    }

    var comment_time = new Date(comment_time).toString('yyyy-MM-dd HH:MM:ss');

%>

<div class="cm-flex-row cm-comment">
    <div style="width:54px; padding: 3px 3px">
        <img class="cm-avatar" src="<%=photo_src%>" alt=""/>
    </div>
    <div class="cm-flex1 cm-flex-column">
        <div class="cm-flex1 cm-flex-row">
            <div class="cm-flex1" style="font-size:14px; font-weight: bold"><%=nickname%></div>
        </div>
        <div class="cm-flex2 cm-content">
            <%=comment%>
        </div>
        <div class="cm-flex1"><span class="cm-time"><%=comment_time%></span></div>
    </div>
</div>
